:root {
    --white: #EAE3C5;
    --red: #E4265F;
    --black: #211F31;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body{
    margin: 0;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    background-color: var(--black);

    /* Remove blue highlight box when tapping */
    -webkit-tap-highlight-color: transparent;

    /* Paper Texture */
    background-image: url(images/paper-texture-compressed.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;

    /* To Fix Floating Footer */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@font-face {
    font-family: telma;
    src: url(fonts/Telma-Bold.otf);
    font-weight: 1;
}

button:focus, a:focus {
    outline: 0.1rem solid var(--red);
    outline-offset: 0.2rem;
  }

/* ----- NAVIGATION BAR ----- */

#mobile-top, #mobile-logo{
    display: none;
}   

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* overflow: hidden; */
    gap: 6rem;
    padding: 0.5rem 2.5rem;
    padding-left: 2rem;
    background-color: var(--white);
    clip-path: polygon(0 0%, 100% 0%, 100% 85%, 0% 100%); /* Angled Edge */

    /* For sticky header */
    position: sticky;
    top: 0;
    z-index: 100;

    transition: 0ms;
    -webkit-transition: background-color 500ms linear;
}

.header *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header.hidden, .header.hidden nav a {
    background: rgba(0,0,0,0);
    color: var(--white);
}

.logo a img, #mobile-logo a img{
    padding-top: 0.2rem;
    height: 3rem;
    width: auto;
    transition: transform 0.2s ease
}

.logo a img:hover, #mobile-logo a img:hover{
    transform: scale(1.05);
}

.logo a img:active, #mobile-logo a img:active{
    transform: scale(0.95);
}

#mobile-logo{
    height: 5rem;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
    width: 30rem;
    gap: 2rem;
    flex-shrink: 1;
}

.main-nav a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.2s ease;
    color: var(--black);
    display: inline-block;
}

#active{
    color: var(--white);
    background-color: var(--red);
    padding: 0.4rem 0.8rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%)
}

#active:hover{
    color: var(--red);
    background: rgba(0,0,0,0);
    outline: 0.2rem solid var(--red);
    outline-offset: -0.2rem;
}

.main-nav a:hover, .header.hidden .main-nav a:hover{
    color: var(--red);
    transform: scale(1.05);
}

.main-nav a:active, .header.hidden .main-nav a:active{
    transform: scale(0.95);
}

  /* ----- HERO BANNER ----- */

.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
    will-change: transform;  /* To help with Performance */
}

.hero-banner img{
    object-fit: contain;
}

.strip-top, .strip-bottom{
    height: 40vh;
    width: 10000%;
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 0.5rem var(--white);
}

/* Film Strip Animations */
.strip-top{
    background-image: url(images/strip-top-compressed.webp);
    animation: scroll-left 120s linear infinite alternate;
    animation-delay: -60s;
}

@keyframes scroll-left {
    from { transform: translateX(200vw); }
    to { transform: translateX(-200vw); }
}

.strip-bottom{
    background-image: url(images/strip-bottom-compressed.webp);
    animation: scroll-right 120s linear infinite alternate;
    animation-delay: -60s;
}

@keyframes scroll-right {
    from { transform: translateX(-200vw); }
    to { transform: translateX(200vw); }
}

.hero-text{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--white);
    border: 0.2rem solid var(--white);
    border-radius: 3rem;
    padding: 0.1rem 4rem;
    width: 28rem;

    /* Appear Animation */
    opacity: 0;
    animation: fadeInUp 2s ease-out 1s forwards;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.hero-text h2{
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
}

#hero-life{
    margin-left: 0.7rem;
    font-family: telma;
    font-style: normal;
    font-size: 4.5rem;
    color: var(--red);
    text-shadow: 0 0 1rem var(--red);
}

/* ----- MINI GALLERY ----- */

#gallery-mini-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.gallery-mini{
    width: 90vw;
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(2, 1fr); 
}

.gallery-mini a{
    text-decoration: none;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.gallery-mini img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.8);
    filter: brightness(50%) blur(0.1rem);
    transition: transform 0.2s ease, filter 0.2s ease;
}

.gallery-mini img:hover{
    transform: scale(1.01);
    filter: brightness(100%) blur(0rem);
}

.gallery-mini img:active{
    transform: scale(0.97);
}

.gallery-mini a div{
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-mini h2{
    display: inline-block;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    line-height: 2.5rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.8);
    transition: 0.2s ease;
}

.gallery-mini h2:hover{
    color: var(--red);
    transform: scale(1.05)
}

.gallery-mini h2:active{
    transform: scale(0.95);
}

/* ----- GALLERY ----- */

#gal-cd, #gal-dlq, #gal-cp{
    scroll-margin-top: 6rem;
}

#gallery-top{
    margin-top: 0.5rem;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.gallery h3{
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.5rem;
    margin-left: 2.5vw;
    align-self: flex-start;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.2s ease, filter 0.2s ease;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
}

.gallery .img-grid-3-col img:hover, .gallery .img-grid-4-col img:hover{
    transform: scale(1.01);
    filter: brightness(70%);
}

.gallery .img-grid-3-col img:active, .gallery .img-grid-4-col img:active{
    transform: scale(0.97);
    filter: brightness(70%);
}

.img-grid-3-col, .img-grid-4-col{
    width: 95vw;
    display: grid;
    grid-gap: 0.5rem;
}

/* Limit of 3 columns for these sections of the gallery. */
.img-grid-3-col{
    grid-template-columns: repeat(3, 1fr); 
}

/* Limit of 4 columns for these sections of the gallery. */
.img-grid-4-col{
    grid-template-columns: repeat(4, 1fr); 
}

/* --- LIGHTBOX --- */

.lightbox-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.lightbox-box {
    position: relative;
    animation: fadeIn 0.3s ease;
}
  
.lightbox-img {
    max-width: 80vw;
    max-height: 80vh;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.8);
}
  
.lightbox-close {
    position: absolute;
    top: -0.5rem;
    right: -2rem;

    /* Close Button Styling */
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
  
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* ----- ABOUT ----- */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 0rem;
    color: var(--white);
}

.about-who {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin: 1rem 2rem;
    border: 0.1rem solid var(--white);
    border-radius: 3rem;
    gap: 0.5rem;
    width: 70vw;
}

.about-who-image-text{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-who-image img{
    width: 20rem;
    border-radius: 50%;
    border: 0.1rem solid var(--white);
}

.about h2{
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-weight: 700;
}

.about hr{
    border: 0.1rem solid var(--red);
    width: 17rem;
    margin: 0;
}

.about-who-text .subtitle{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.about p, .contact-projectcity p{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.about-who-posters{
    width: 70vw;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.about-poster-scroll{
    height: 30vh;
    width: 10000%;
    animation: scrollPosters 800s linear infinite alternate;
    background-image: url(images/poster-strip.png);
    background-size: contain;
    background-position: center;
}

@keyframes scrollPosters {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

.poster-scroll img{
    height: 20vh;
    width: auto;
}

.about-why-work{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80vw;
}

.about-why-work h2{
    font-size: min(2.5rem, 9vw);
}

.about-why-work hr{
    margin: auto;
    width: min(80vw, 21.5rem);
    margin-bottom: 0.5rem;
}

.about-why-card hr{
    margin: auto;
    width: 18vw;
    margin-bottom: 0.5rem;
}

.about-why-work h3{
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    font-size: 2.1vw;
}

.about-why-cards-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
}

.about-why-card{
    width: 20vw;
    color: var(--black);
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2vw;
    box-shadow: 0 0 0.3rem var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease;
}

.about-why-card:hover {
    transform: translateY(-0.5rem);
}

.about-why-card img {
    width: 20vw;
    height: 11vw;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
}

.about-btn{
    margin-top: max(0.5rem, 1.5vw);
}

.about-btn div a{
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--red);
    padding: 0.4rem 0.8rem;
    transition: 0.2s ease;
    clip-path: polygon(0 0%, 100% 5%, 100% 100%, 0% 95%);
    white-space: nowrap;
    display: inline-block;
}

.about-btn div a:hover{
    color: var(--red);
    background: rgba(0,0,0,0);
    outline: 0.2rem solid var(--red);
    outline-offset: -0.2rem;
    transform: scale(1.05);
}

.about-btn div a:active{
    transform: scale(0.95);
}

.about-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(3rem, 8vw);
    margin: 1.2rem 3rem;
    margin-bottom: 3rem;
    border: 0.1rem solid var(--white);
    border-radius: 3rem;
    gap: 0.3rem;
}

.about-contact h2{
    margin-bottom: 0;
    font-size: min(3rem, 5.8vw);
}

.about-contact hr{
    margin: auto;
    width: min(30rem, 56vw);
    margin-bottom: 0rem;
}

#about-btn-gallery{
    font-size: min(2rem, 5vw);
}

#about-btn-contact{
    font-size: min(4rem, 7vw);
}

/* ----- CONTACT PAGE ----- */

.contact{
    color: var(--white); 
    display: flex;
    align-self: center;
    gap: 3rem;
    padding: 3rem;
    width: 76vw;
}

.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 3rem;
    gap: 0.5rem;
    flex: 2 1;
}

.contact h2{
    font-size: 2.75rem;
    font-weight: 700;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2rem;
}

.contact hr{
    border: 0.1rem solid var(--red);
    width: 24rem;
    margin: 0;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-form input, .contact-form textarea {
  background-color: var(--white);
  color: var(--black);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.contact-form input:focus, .contact-form textarea:focus{
    outline: 0.1rem solid var(--red);
}

.contact-form textarea {
    height: 12rem;
    width: auto;
    resize: vertical;
}

.contact-form button , .contact-projectcity-btn{
    margin-top: 0.5rem;
    align-self: flex-start;
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 0.4rem 0.8rem;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    clip-path: polygon(0 0%, 100% 5%, 100% 100%, 0% 95%);
}

.contact-form button:hover, .contact-projectcity-btn:hover{
    color: var(--red);
    background: rgba(0,0,0,0);
    outline: 0.2rem solid var(--red);
    outline-offset: -0.2rem;
    transform: scale(1.05);
}

.contact-form button:active, .contact-projectcity-btn:active{
    transform: scale(0.95);
}

.contact-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.contact-socials, .contact-projectcity{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    border: 0.1rem solid var(--white);
    border-radius: 3rem;
    gap: 0.5rem;
}

.contact h3{
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2rem;
}

.contact-socials-icons{
    display:flex;
    justify-content: space-between;
    gap: 2rem;
}

.contact-socials hr{
    width: 20rem;
}

.contact-socials-icons a{
    color:var(--white);
    font-size:4rem;
    transition: all 0.25s ease;
}

.contact-socials-icons a:hover{
    text-shadow: 0 0 0.5rem var(--red);
    color: var(--red);
    transform: scale(1.05);
}

.contact-socials-icons a:active{
    transform: scale(0.95);
}

.contact-projectcity hr{
    width: 13rem;
    margin-bottom: 0.5rem;
}

.contact-projectcity p{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.contact-projectcity-btn{
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    text-decoration: none;
    margin-top: 0.5rem;
    align-self: center;
    font-size: 2rem;
}


/* ----- FOOTER ----- */

footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
    padding: 1rem 3rem;
    background-color: var(--white);
    margin-top: auto;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}

footer h1{
    color: var(--red);
    font-size: 1.9rem;
    font-weight: 700;
    margin: 0.4rem 0;
}

footer p{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}

.footer-right{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: end;
}

footer #socials{
    display:flex;
    justify-content: space-between;
    margin: 0.5rem 0rem;
}

footer #socials a{
    color:var(--red);
    font-size:2.5rem;
    margin-left: 1.5rem;
    transition: all 0.25s ease;
}

footer #socials a:hover{
    text-shadow: 0 0 0.5rem var(--red);
    transform: scale(1.05);
}

footer #socials a:active{
    transform: scale(0.95);
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 15rem;
}

.footer-nav hr{
    border: 0.01rem solid var(--black);
    height: 0.8rem;
    margin: 0;
    align-self: center;
}

.footer-nav a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.2s ease;
    color: var(--black);
}

.footer-nav a:hover{
    color: var(--red);
}

#mobile-menu-btn, #mobile-menu-btn{
    display: none;
}
  
/* ---------- FOR HANDLING SMALLER SCREENS ----------*/

@media(max-width:44rem){

    /* ----- MOBILE HEADER ----- */
    #mobile-top-spacer{
        box-sizing: border-box;
        display: block;
        height: 5rem;
        width: 40vw;
    }

    .header, .header.hidden{
        position: fixed;
        box-sizing: border-box;
        justify-content: end;
        width: 100%;
        gap: 0;
        color: var(--black);
        background-color: var(--white);
        padding: 1rem 2rem;
        z-index: 2;
        transition: clip-path 300ms ease-out;
    }

    .header.hidden nav a{
        color: var(--black);
    }

    #mobile-header{
        top: -14.5rem;
        transition: top 200ms ease-out;
        padding-top: 4rem;
        padding-bottom: 4rem;
        clip-path: polygon(0 0%, 100% 0%, 100% 98%, 0% 100%);
        transition: top 300ms ease-out, padding-bottom 300ms ease-out, clip-path 300ms ease-out;
    }

    #mobile-header.hidden{
        top: -21rem;
        transition: top 300ms ease-out, padding-bottom 300ms ease-out, clip-path 300ms ease-out;
    }

    #mobile-header.show{
        top:0%;
        padding-bottom: 1rem;
        transition: top 300ms ease-out, padding-bottom 300ms ease-out, clip-path 300ms ease-out;
        clip-path: polygon(0 0%, 100% 0%, 100% 98%, 0% 80%)
    }

    #mobile-menu-btn{ 
        display: block;
        position: fixed;
        top: 1.3rem;
        right: 1.5rem;
        height: 3rem;
        width: 3rem;
        z-index: 100;
    }

    /* -- HAMBURGER MENU ICON -- */
    #checkbox {
        display: none;
    }
    
    .toggle {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition-duration: .5s;
    }
    
    .bars {
    width: 100%;
    height: 0.3rem;
    background-color: var(--red);
    border-radius: 0.3rem;
    }
    
    #bar2 {
    transition-duration: .8s;
    }
    
    #bar1,#bar3 {
    width: 80%;
    }
    
    #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
    }
    
    #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
    }
    
    #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
    }
    
    #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
    }
    
    #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
    }

    .logo{
        display: none;
    }

    #mobile-logo{
        display: block;
        position: fixed;
        z-index: 10;
        top: 0.8rem;
        left: 1.2rem;
    }

    .main-nav{
        align-items: end;
        flex-direction: column;
        gap: 0;
        padding-top: 0.4rem;
        padding-bottom: 0.5rem;
        z-index: 10000;
    }

    .main-nav a, .main-nav button{
        margin-bottom: 1rem;
    }

    /* ----- HERO BANNER ----- */
    .hero-text{
        margin: 5vw;
        border: 0.2rem solid var(--white);
        border-radius: 7vw;
        padding: 0.2vw 6vw;
        width: 70vw;
    }

    .hero-text h2{
        font-size: 7vw;
    }

    #hero-life{
        font-size: 10.5vw;
    }

    /* ----- MINI ABOUT ----- */
    .about-mini-card{
        flex-direction: column;
        width: 60vw;
        min-width: 0;
        text-align: center;
        gap: 2vw;
    }

    .about-mini-card img{
        height: 20vw;
    }

    .about-mini-text{
        gap: 0vw;
    }

    .about-mini hr{
        margin: auto;
    }

    .about-mini-text p{
        margin-bottom: 6vw;
    }

    .about-mini-buttons{
        justify-content: center;
        margin-top: 0;
        gap: 4vw;
    }

    .about-mini-buttons div{
        margin-top: 0vw;
    }

    /* ----- MINI GALLERY ----- */
    .gallery-mini{
        grid-template-columns: repeat(1, 1fr); 
        align-self: center;
    }

    /* ----- GALLERY ----- */
    #gallery-top{
        margin-top: 0;
    }
    .img-grid-3-col, .img-grid-4-col {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ----- FOOTER ----- */
    footer{
        flex-flow: column-reverse;
        gap: 4vw;
        padding: 8vw 8vw;
        padding-top: 10vw;
    }

    footer h2{
        font-size: 8vw;
    }

    footer p{
        font-size: 3vw;
    }

    .footer-right{
        gap: 2vw;
        align-self: center;
        align-items: center;
    }

    footer #socials{
        width: 80vw;
    }

    footer #socials a{
        margin: 0;
        font-size: 16vw;
    }

    .footer-nav{
        width: 80vw;
    }

    .footer-nav a{
        font-size: 5vw;
    }

    .footer-nav hr{
        border: 0.25vw solid var(--black);
        height: 4vw;
    }
}

/* ----- WIDER PAGE RESIZE ----- */

@media (max-width: 74rem) {

    /* ABOUT PAGE */
    .about-who-image-text {
      flex-direction: column;
      gap: 1rem;
    }

    .about-why-cards-container{
        grid-template-columns: repeat(1, 1fr); 
    }

    .about-why-card{
        width: 60vw;
        padding: 4vw;
    }

    .about-why-work h3{
        font-size: 5vw;
    }

    .about-why-work div div hr{
        width: 40vw;
    }

    .about-why-card img {
        width: 60vw;
        height: 33vw;
        border-radius: 1rem;
        object-fit: cover;
    }

    /* CONTACT PAGE*/
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-top: 0.5rem;
    }

    .contact-left{
        width: min(85vw, 36rem);
    }

    .contact-left h2{
        font-size: min(9vw, 3rem);
    }

    .contact-left hr{
        margin-top: min(1vw, 0.5rem);
        width: min(80vw, 26.5rem);
    }

    .contact-right{
        width: min(80vw, 30rem);
    }

    .contact-right h3{
        font-size: min(8vw, 3rem);
    }

    .contact-right hr{
        width: min(60vw, 22rem);
    }

    .contact-socials-icons{
        gap: min(6vw, 2rem);
    }

    .contact-socials-icons a{
        font-size: min(12vw, 4rem);
    }

    .contact-projectcity a{
        font-size: min(7vw, 2.8rem);
    }
}